[core]
# Point to dags folder
dags_folder = /home/david/Personal Projects/NASA-Data-Ingestion-Pipeline/dags

# Don't load example dags (just temporary)
load_examples = False

# Set timezone
default_timezone = Africa/Cairo

[webserver]
# Webserver port
web_server_port = 8080

[scheduler]
# How often to scan for new DAGs (in seconds)
dag_dir_list_interval = 30

[email]
# Email configuration (set this up for alerts)
email_backend = airflow.utils.email.send_email_smtp

[smtp]
# Gmail SMTP settings (optional - for notifications)
smtp_host = smtp.gmail.com
smtp_starttls = True
smtp_ssl = False
smtp_user = davidnady4yad@gmail.com
smtp_password = 123456
smtp_port = 587
smtp_mail_from = davidnady4yad@gmail.com
